{
    "username": "{{kobo toolbox username}}",
    "password": "{{kobo toolbox password}}",
    "dataFile": "melData.csv",
    "submissionURL": "https://kc.kobotoolbox.org/api/v1/submissions",
    "koboToolboxUrl": "https://kc.kobotoolbox.org/api/v1/forms?format=json"
}