remove/Source Information,remove/uuid-generated,meta/instanceID,Column 1,Coloumn 2,group 1/column 1,group 1/column 2,group 1/column 3,group 2/column 1,Column 3
data that will not be uploaded.,D259E017-6B34-8705-A5C1-233CABB1F9AB,uuid:d259e017-6b34-8705-a5c1-233cabb1f9ab,hello,this,is,example,data,to,upload
